@import "bootstrap/bootstrap";

.navbar-inverse {
  .fa {
    color: @navbar-inverse-toggle-icon-bar-bg;
  }
}

.body {
  padding-top: 5em;

  &> footer {
    padding-top: 1em;
  }
}

.button-footer {
  margin-top: 2em;
}

// This is to get around bootstrap's fixed header
a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility:hidden;
}

.nav-list {
  li {
    padding: 5px 15px;
  }
}

.xup-form {
  input[type="number"] {
    width: 5em;
  }
}

@media (min-width: @screen-sm-min) {
  .container-centered {
    .container();
    max-width: @screen-sm-min - 1em;

    .jumbotron {
      text-align: center;
    }
  }
}
