{% load static %}
{% load compress %}
<!doctype html>
<html>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>{% block title %}IG.AT – {% block subtitle %}Home{% endblock %}{% endblock %}</title>
    {% if debug %}
    <link href="{% static 'less/main.less' %}" media="all" rel="stylesheet/less" type="text/css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    {% else %}
    {% compress css %}
    <link href="{% static 'less/main.less' %}" media="all" rel="stylesheet" type="text/less">
    {% endcompress %}
    {% endif %}
    <script src="https://use.fontawesome.com/0bc63d168a.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#top-navbar-main"
                  aria-expanded="false"
                  aria-label="Toggle Navigation">
            <i class="fa fa-bars fa-fw fa-lg"></i>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">IG.AT</a>
        </div>

        {% block navbar %}
        <div class="collapse navbar-collapse" id="top-navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'fittings:index' %}">Fittings Manager</a>
            </li>
          </ul>
          {% if user.is_authenticated %}
          <p class="navbar-text navbar-right">
            <a class="navbar-link" href="{% url 'logout' %}">{{ user.first_name }} {{ user.last_name}}</a>
          </p>
          {% else %}
          <a class="navbar-btn navbar-right" href="{% url 'social:begin' backend='eveonline' %}?next={{ request.path }}">
            <img src="{% static 'img/EVE_SSO_Login_Buttons_Small_Black.png' %}"
                 alt="Login with EVE Online">
          </a>
          {% endif %}
        </div>
        {% endblock %}
      </div>
    </nav>


    <div class="body container">
    {% block body %}
    {% endblock %}

    <footer>
      <p>&copy; 2017, <a href="https://iron-guard.net">Iron Armada</a></p>
    </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
  </body>
</html>
