{% extends 'base.html' %}

{% block body %}
<div class="container-centered">
  <div class="jumbotron">
    <h1>IG<small>.AT</small></h1>
    <p>The home of the Iron Armada Alliance Tournament team.</p>
  </div>

  {% if perms.fittings.view_composition %}
  <div class="row">
    <!--
    <div class="col-md-6">
      <h3>Next Practice</h3>
      <p>TBA</p>
    </div>
    -->
    <div class="col-md-6">
      <h3>Fittings Manager</h3>
      <p>Contains the fleet compositions <strong>IG.AT</strong> is currently
      practicing with. There is also the ability to "x-up" for each ship in the
      comp.</p>
      <a href="{% url 'fittings:index' %}" class="btn btn-default">Go to Fittings »</a>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-lg-6">
      <h3>2016 results</h3>
      <p>In <em>Iron Armada's</em> first foray into the tournament, we made a
      name for ourselves by contributing killmarks to <em>Pandemic Legion's</em>
      Raven State Issue. We followed this up by defending the hull-tank and
      making it into the Round of 32 before being eliminated by
      <em>Fraternity</em>.</p>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}
