{% extends 'base.html' %}
{% load static %}

{% block navbar %}
<div class="collapse navbar-collapse" id="top-navbar-main">
  <ul class="nav navbar-nav">
    <li class="active">
      <a href="{% url 'fittings:index' %}">Fittings Manager <span class="sr-only"(current)</span></a>
    </li>
  </ul>
  {% if user.is_authenticated %}
  <p class="navbar-text navbar-right">
    <a class="navbar-link" href="{% url 'logout' %}">{{ user.first_name }} {{ user.last_name}}</a>
  </p>
  {% else %}
  <a class="navbar-btn navbar-right" href="{% url 'social:begin' backend='eveonline' %}?next={{ request.path }}">
    <img src="{% static 'img/EVE_SSO_Login_Buttons_Small_Black.png' %}"
          alt="Login with EVE Online">
  </a>
  {% endif %}
</div>
{% endblock %}
