{% extends 'fittings/base.html' %}

{% block subtitle %}Delete {{ composition.name }}{% endblock %}

{% block body %}
<div class="page-header">
    <div class="alert alert-danger" role="alert">
      Are you sure that you would like the delete the following Fleet
      Composition?
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>{{ composition.name }}</h3>
  </div>
</div>
<div class="row button-footer">
  <div class="col-md-12">
    <form action="" method="post">
      {% csrf_token %}
      <a href="{% url 'fittings:composition-details' composition.id %}" class="btn btn-default">Cancel</a>
      <button class="btn btn-danger" type="submit">Confirm <i class="fa fa-trash-o fa-lg"></i></button>
    </form>
  </div>
</div>
{% endblock %}
