{% extends 'fittings/base.html' %}
{% load bootstrap3 %}

{% block subtitle %}{% if object %}Edit{% else %}Create{% endif %} Composition{% endblock %}

{% block body %}
<div class="page-header">
  {% if object %}
  <h1>Update Composition:</h1>
  {% else %}
  <h1>Create Composition:</h1>
  {% endif %}
</div>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="row">
    <div class="col-md-6">
      {% bootstrap_field field %}
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-md-6">
      {% if object %}
      <a href="{% url 'fittings:composition-details' object.id %}" class="btn btn-default">Cancel</a>
      {% else %}
      <a href="{% url 'fittings:index' %}" class="btn btn-default">Cancel</a>
      {% endif %}
      <div class="pull-right">
        {% if object %}
        <a href="{% url 'fittings:composition-delete' object.id %}" class="btn btn-danger">
          <i class="fa fa-trash-o fa-lg"></i> Delete
        </a>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
