{% extends 'fittings/base.html' %}

{% block subtitle %}{{ composition.name }}{% endblock %}

{% block body %}
<div class="page-header">
  <h1>
    {{ composition.name }}
    <small>
      {{ composition.owner.first_name }} {{ composition.owner.last_name }}
      <a href="{% url 'fittings:composition-edit' composition.id %}" title="Edit"><i class="fa fa-edit"></i></a>
    </small>
  </h1>
</div>
<div class="row">
  <div class="col-md-4">
    <ul class="list-group nav-list">
      {% for fit in composition.fits.all %}
      <li class="list-group-item" role="presentation">
        <a href="#{{ fit.ship_name|slugify }}">{{ fit.ship_name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-8">
    {{ composition.description|linebreaks }}
  </div>
</div>
{% for fit in composition.fits.all %}
<div class="row">
  <div class="col-md-12">
    <h4 class="fit-header">
      <a class="anchor" id="{{ fit.ship_name|slugify }}"></a>
      {{ fit.ship_name }}{% if fit.quantity > 1 %} x{{ fit.quantity}}{% endif %}
      <small><a href="{% url 'fittings:fit-edit' comp_id=composition.id pk=fit.id %}" title="Edit">
        <i class="fa fa-edit"></i>
      </a></small>
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <pre>{{ fit.eft_fit }}</pre>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <table class="table">
      <thead>
      <tr>
        <th>Pilot</th>
        <th>T2</th>
        {% for skill in fit.skills.all %}
        <th>{{ skill.skill_name }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
        {% for xup in fit.x_ups.all %}
        {% if xup.min_skill < 3 %}
        <tr class="danger">
        {% elif xup.min_skill == 3 %}
        <tr class="warning">
        {% elif xup.min_skill == 5 %}
        <tr class="success">
        {% else %}
        <tr>
        {% endif %}
          <td>{{ xup.pilot.first_name }} {{ xup.pilot.last_name }}</td>
          <td>
            {% if xup.t2_capable %}
              <i class="fa fa-check text-primary fa-fw" aria-label="True"></i>
            {% else %}
              <i class="fa fa-times text-danger fa-fw" aria-label="False"></i>
            {% endif %}
          </td>
          {% for skill in xup.xupskill_set.all %}
          <td>{{ skill.skill_value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'fittings:fit-xup' comp_id=composition.id fit_id=fit.id %}" class="btn btn-default"><i class="fa fa-id-card-o fa-lg"></i> X-Up</a>
  </div>
</div>
{% endfor %}
<div class="row">
  <div class="col-md-12">
    <a href="{% url 'fittings:fit-create' composition.id %}">add fit</a>
  </div>
</div>
{% endblock %}
