{% extends 'fittings/base.html' %}
{% load bootstrap3 %}

{% block subtitle %}{{ composition.name }} – {% if fit %}Edit{% else %}Create{% endif %} Fit{% endblock %}

{% block body %}
<div class="page-header">
  {% if fit %}
  <h1>{{ composition.name }} <small>Update fit</small></h1>
  {% else %}
  <h1>{{ composition.name }} <small>Create fit</small>
  {% endif %}
</div>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="row">
    <div class="col-md-6">
      {% bootstrap_field field %}
    </div>
  </div>
  {% endfor %}
  {{ skills_formset.management_form}}
  <div id="skills-form-template" hidden="true">
    <div class= "row">
      <div class="col-md-6">
        {% bootstrap_form skills_formset.empty_form %}
      </div>
    </div>
  </div>
  {% for skills_formset_row in skills_formset %}
  <div class="skills-form row">
    <div class="col-md-6">
      {% bootstrap_form skills_formset_row %}
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-md-6">
      <a href="{% url 'fittings:index' %}" class="btn btn-default">Cancel</a>
      <div class="pull-right">
        {% if fit %}
        <a href="{% url 'fittings:fit-delete' composition.id fit.id %}" class="btn btn-danger">
          <i class="fa fa-trash-o fa-lg"></i> Delete
        </a>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
