{% extends 'fittings/base.html' %}

{% block subtitle %}Delete {{ fit.ship_name }}{% endblock %}

{% block body %}
<div class="page-header">
    <h1>{{ fit.comp.name }} <small>{{ fit.ship_name }}</small></h1>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">
      Are you sure that you would like the delete the following Fit?
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <pre>{{ fit.eft_fit }}</pre>
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <form action="" method="post">
      {% csrf_token %}
      <a href="{% url 'fittings:fit-edit' fit.comp.id fit.id %}" class="btn btn-default">Cancel</a>
      <button class="btn btn-danger pull-right" type="submit">Confirm <i class="fa fa-trash-o fa-lg"></i></button>
    </form>
  </div>
</div>
{% endblock %}
