{% extends 'fittings/base.html' %}

{% block subtitle %}Fleet Comps{% endblock %}

{% block body %}
<div class="page-header">
  <h1>Iron AT Fleet Compositions</h1>
</div>
<div class="row">
  {% for comp in object_list %}
  <div class="col-md-4">
    <div class="list-group">
      <a href="{% url 'fittings:composition-details' comp.id %}"
          class="list-group-item"><h4 class="list-group-item-heading">{{ comp.name }}</h4></a>
      {% for fit in comp.fits.all %}
      <a href="{% url 'fittings:composition-details' comp.id %}" class="list-group-item">
        {{ fit.ship_name}}{% if fit.quantity > 1 %}<span class="badge">{{ fit.quantity }}</span>{% endif %}
      </a>
    {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
<div class="row">
  <div class="col-md-12">
    <a href="{% url 'fittings:composition-create' %}">add fleet comp</a>
  </div>
</div>
{% endblock %}
