{% extends 'fittings/base.html' %}
{% load bootstrap3 %}

{% block subtitle %}X Up{% endblock %}

{% block body %}
<div class="page-header">
  <h1>{{ fit.comp.name }} <small>{{ fit.ship_name }}</small></h1>
</div>
<div class="row">
  <div class="col-md-5">
    <pre>{{ fit.eft_fit }}</pre>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <div class="row">
      <div class="col-md-12">
        <h3>X Up</h3>
      </div>
    </div>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="row">
        <div class="col-md-12">
          {% bootstrap_field field %}
        </div>
      </div>
      {% endfor %}
      <div class="row">
        <div class="col-md-12">
          <a href="{% url 'fittings:composition-details' fit.comp.id %}" class="btn btn-default" role="Cancel">
            Cancel
          </a>
          <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
