{% extends 'base.html' %}
{% load static %}

{% block subtitle %}Login{% endblock %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h2>Authentication Required</h2>
    {% if user.is_authenticated %}
    <p>Please contact the AT Team captain for permission to view this page.</p>
    {% else %}
    <p>Please login to continue.</p>
    {% endif %}
  </div>
  {% if not user.is_authenticated %}
  <div class="container">
    <div class="text-center">
      <a class="btn" href="{% url 'social:begin' backend='eveonline' %}?next={{ request.GET.next }}" role="login">
        <img src="{% static 'img/EVE_SSO_Login_Buttons_Large_Black.png'%}" alt="Login with EVE Online">
      </a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
